<header class="p-3 bg-light text-dark header">
  <div class="cointeiner">
    <div class="row">
      <div class="col-sm-4">
        <a class="navbar-brand" (click)="navigate(4)" style="margin: 2vh;">
          <img src="assets/images/JoraLogo-SF-2.png" alt="Bootstrap" width="50" height="50" />
        </a>     
      </div>
      
      <div class="col-sm-4">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        </form>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <div class="dropdown-center" style="float: right;" >
              <i-feather name="align-justify" class="toggle" data-bs-toggle="dropdown" aria-expanded="false"></i-feather>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="navigate(1)">Acerca de la Nosotros</a></li>
                <li><a class="dropdown-item" (click)="navigate(2)">Delivery</a></li>
                <li><a class="dropdown-item " (click)="navigate(5)">Agregar Productos</a></li>
              </ul>
            </div>
    
          </div>
          <div class="col-sm-4">
            <div class="dropdown-center">
              <i-feather name="user" class="toggle" data-bs-toggle="dropdown" aria-expanded="false"></i-feather>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="AbrirLoginModal()">Iniciar Sesión</a></li>
                <li><a class="dropdown-item" (click)="OpenSingInModal()">Registrarte</a></li>
                <li><a class="dropdown-item" (click)="navigate(3)">Ver perfil</a></li>
              </ul>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
