@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
.btn-outline-warning{

    background-color: black;
    border: black;
    color: white(27, 31, 30);
    cursor: pointer;
}

.btn-primary.btn-block{

    background-color: black;
    border: black;
    color: white(27, 31, 30);
    cursor: pointer;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: orange;
    padding-top: 20px;
}

.alert-danger{
    color: red;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
}

.container-error-message{
    padding: 3px;
}