<div class="container py-2">
  <div class="row my-2">
    <div class="card custom-bg mb-2">
      <div class="card-body text-center">
        <img
        src="assets/images/JoraLogo-SF-2.png"
          alt="Your photo"
          class="photo rounded-circle card-img-top img-fluid"
        />
        <div class="d-flex justify-content-center my-2">
          <button type="button" class="btn btn-outline-dark manage-btn mx-2 " style="color:green" >
            Gestionar Cuenta
          </button>
          <button class="btn btn-outline-dark update-btn mx-2" style="color:green;">
            Actualizar Foto
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 mr-3">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row mb-2 text-center">
            <h2 class="title-size bold">DATOS</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="mb-0 bold">Nombre</p>
            </div>
            <div class="col-md-8">
              <p class="text-muted mb-0">Makanaki</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p class="mb-0 bold">Apellido</p>
            </div>
            <div class="col-md-8">
              <p class="text-muted mb-0">Pique</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p class="mb-0 bold">Documento</p>
            </div>
            <div class="col-md-8">
              <p class="text-muted mb-0">7223125</p>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="text-center mb-2">
              <h3 class="title-size bold">CONTACTO</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="mb-0 bold">Email</p>
            </div>
            <div class="col-md-8">
              <p class="text-muted mb-0">abc@jora.restobar</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p class="mb-0 bold">Celular</p>
            </div>
            <div class="col-md-8">
              <p class="text-muted mb-0">999666999</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p class="mb-0 bold">Telefono</p>
            </div>
            <div class="col-md-8">
              <p class="text-muted mb-0">999666999</p>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="my-3">
        <h4 class="text-center bold">RESEÑAS</h4>
        <hr class="my-3">
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="flex d-flex flex-column align-items-center justify-content-center">
            <img
              class=""
              src="assets/images/raze.jpg"
              alt="user"
              width="40"
              height="40"
            />
            <p align="center">Anónimo</p>
          </div>
        </div>
        <div class="col-md-10">
          <p>
            Excelente lugar, lo recomiendo mucho, la atención muy buena y la comida exquisita. 
            También me parece increíble que admita perritos, lleve al mío y lo aceptaron con mucho gusto. 
            Definitivamente un lugar para ir con amigos y familia.  10/10
          </p>
          <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-3">
              <p align="right">¿Te ha servido de ayuda?</p>
            </div>
            <div class="col-sm-2 form-group">
              <button
                (click)="upvote()"
                class="btn"
                [ngClass]="{
                  'btn-outline-dark': toggle,
                  'btn-dark': !toggle
                }"
              >
                Si
              </button>
              <button class="btn btn-outline-dark" style="margin-left: 2vh">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-3">
      <div class="row"></div>
    </div>
  </div>
</div>

<section class="reseñas">
  
</section>
