<footer class="text-center text-white footer" style="background-color: #000000;">

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: black">
    © 2023 Copyright: JORA RESTOBAR 2023. TODOS LOS DERECHOS RESERVADOS
    
  </div>
  <!-- Copyright -->
</footer>

