
  <div class="row" style="margin-top: 5vh;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div>
        <h2  bold style="color: black;">JORA RESTOBAR</h2>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/images/Staffjora.jpg" style="width: 1200px; height: 300px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/local.webp" style="width: 1200px; height: 300px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/pizza.webp" style="width: 1200px; height: 300px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/patio.jpg" style="width: 1200px; height: 300px;" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="row">
            <div class="col-sm-11"></div>
            <div class="col-sm-1" style="margin-top:1vh;">
              <i-feather name="star"></i-feather>3.5
            </div>
          </div>
          <div class="col-sm-10">
            <p style="color: B;"><b>SERVICIOS ADICIONALES</b></p>
          </div>
          <div>
            <p align="justify">Se alquila exclusivo local de Evento,Miraflores ideal para Fiesta de promos,
              Despedida de solteros...Se alquila exclusivo local de Evento, Miraflores ideal
              para Fiesta de promos, Despedida de solteros..Se alquila exclusivo local
              de Evento,Miraflores ideal para Fiesta de promos, Despedida de solteros..</p>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title bold">Acerca de Nosotros</h5>
              <div class="card-text">
                <p>¿Buscas un restaurante top para disfrutar de las mejores comidas y un ambiente acogedor? 
                  <br>
                  <strong>¡Jora Restobar es el lugar perfecto para ti!</strong> Con una ubicación privilegiada en el centro de la ciudad, 
                  Jora Restobar ofrece una experiencia gastronómica única y memorable.
                </p>
                <p>
                  Aquí, los chefs expertos crean platos deliciosos con ingredientes frescos y de alta calidad, 
                  combinando sabores tradicionales con un toque moderno. Desde platos mediterráneos hasta especialidades locales, 
                  hay algo para satisfacer todos los gustos.
                </p>
                <p>
                  Además de la comida, Jora Restobar también es conocido por su ambiente acogedor y sofisticado. 
                  Con su decoración elegante y atmósfera relajada, es el lugar perfecto para una cena romántica, una salida 
                  con amigos o incluso un almuerzo de negocios.
                </p>
                <p>
                  <strong>No esperes más y haz de Jora Restobar tu próximo destino gastronómico. ¡Te aseguramos que no te arrepentirás!</strong>
                </p>
              </div>
              <div style="margin-top: 1vh;">
                <img src="assets/images/location-dot-solid.svg" alt="Bootstrap" width="20" height="20" /> 28 de Julio,
                Ayacucho, Huamanga <br>
              </div>
              <div style="margin-top: 1vh;">
                <img src="assets/images/users-solid.svg" alt="Bootstrap" width="20" height="20" /> 500<br>
              </div>
              <div class="row" style="margin-top: 3vh">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-dark" id="btn1">Reservar</button>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-dark" id="btn2">
                    <img src="assets/images/whatsapp.svg" alt="Bootstrap" width="20" height="20" />
                    WhatsApp</button>
                </div>
                <div class="col-sm-3"></div>
              </div>
            </div>
          </div>
          <div class="card" style="margin-top: 4vh;">
            <div class="card-body">
              <h5 class="card-title bold" style="color: black; ">INFORMACION DEL PROPIETARIO</h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text"></p>
              <div style="margin-top: 1vh;">
                <img src="assets/images/person-solid.svg" alt="Bootstrap" width="20" height="20" /> Dante Medina <br>
              </div>
              <div style="margin-top: 1vh;">
                <img src="assets/images/envelope-solid.svg" alt="Bootstrap" width="20" height="20" />
                dante@jora.restobar.com <br>
              </div>
              <div style="margin-top: 1vh;">
                <img src="assets/images/phone-solid.svg" alt="Bootstrap" width="20" height="20" /> 999123845 <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row reseñas">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <p style="color: B;"><b>RESEÑAS</b></p>
      <hr style="margin-bottom: 2vh;">
    </div>
  </div>

  <div class="row personas">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2">
          <img class="imganomino" src="assets/images/raze.jpg" alt="Bootstrap" width="40" height="40" />
          <p align="center">Anónimo</p>
        </div>
        <div class="col-sm-10">
          <p>Se alquila exclusivo local de Evento,Miraflores ideal para Fiesta de promos,
            Despedida de solteros...Se alquila exclusivo local de Evento, Miraflores ideal
            para Fiesta de promos, Despedida de solteros..Se alquila exclusivo local
            de Evento,Miraflores ideal para Fiesta de promos, Despedida de solteros..</p>
          <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-3">
              <p align="right">¿Te ha servido de ayuda?</p>
            </div>
            <div class="col-sm-2 form-group">
              <button (click)="upvote()" class="btn"
                [ngClass]="{'btn-outline-dark':toggle,'btn-dark':!toggle}">Si</button>
              <button class="btn btn-outline-dark" style="margin-left: 2vh;">No</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row comentarios">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2">
          <p style="color: B;"><b>TU OPINION IMPORTA</b></p>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <form>
              <input type="text" class="form-control inputcomentario" placeholder="Comience a escribir">
            </form>
          </div>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-primary btn1" style="color: white;" (click)="ConfirmarSalon()">
            GUARDAR</button>
        </div>
      </div>
      <hr style="color: white;">
    </div>
    <div class="col-sm-1"></div>
  </div>
