#btn1 {
    background-color: black;
    border-color: black;
    text-decoration-color: white;
}

#btn2 {
    background-color: #0ea309;
    border-color: black;
    text-decoration-color: black;
}

.carousel .carousel-item {
    height: 55vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 55vh;
}

.imganomino {
    margin: auto;
    display: block;
}
.pregunta {
    display: table-cell;
    vertical-align: middle;
}

.inputcomentario:focus{
    height: 7vh;
}
.btn1{
    background-color: black;
    border-color: black;
    text-decoration-color: black;
}

.bold {
    font-weight: bold;
}