<form class="register-form m-4" [formGroup]="formSalon">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="primero">
                <label style="color:black;"> <b> DELIVERY </b></label>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin-top: 2vh;">
                <label style="color:black;"> <b>PEDIDOS</b></label>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-top: 2vh;">
                        <label for="staticEmail" class="col-sm-12 col-form-label">Nombre del Producto</label>
                        <div class="form-group col-sm-10">
                            <input class="form-control form-control-sm" type="text" formControlName="nombrelocal"
                                onkeydown="return /[a-z, ]/i.test(event.key)">
                        </div>
                    </div>
                    <div class="row form-group" style="margin-top: 2vh;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12 col-form-label">Cantidad</label>
                                <div class="form-group col-sm-8">
                                    <input min="0" oninput="validity.valid||(value='');"
                                        class="form-control form-control-sm" type="number"
                                        formControlName="capacidadmaxima">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12 col-form-label">Precio Total:</label>
                                <div class="form-group col-sm-8">
                                    <input min="0" oninput="validity.valid||(value='');"
                                        class="form-control form-control-sm" type="number"
                                        formControlName="preciopordia">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 2vh;">
                        <div class="form-group" style="margin-top: 2vh;">
                            <label for="staticEmail" class="col-sm-12 col-form-label">Descripción:</label>
                            <div class="form-group col-sm-10">
                                <textarea class="form-control" type="text" id="exampleFormControlTextarea1" rows="3"
                                    formControlName="descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 2vh;">
                        <div class="form-group" style="margin-top: 2vh;">
                            <label for="staticEmail" class="col-form-label">Servicios adicionales:</label>
                            <div class="form-group col-sm-10">
                                <textarea class="form-control" type="text" id="exampleFormControlTextarea1" rows="3"
                                    formControlName="serviciosadicionales"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 bold" style="margin-top: 2vh;">
                    <label class="col-sm-12 col-form-label">Vista Previa</label>

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
                        style="margin-top: 2vh;">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/images/chorizo2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/mondongo.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/alitas.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/cangreburguer.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top: 2vh;">
                <div class="col-sm-5 form-group"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 2vh;">
            <div class="col-sm-4">
                <label style="color:black;"><b>CONTACTO</b></label>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-top: 2vh;">
                        <label for="staticEmail" class="col-sm-12 col-form-label">Celular:</label>
                        <div class="form-group col-sm-10">
                            <input class="form-control form-control-sm" type="number" formControlName="celular">
                            <div class="err" *ngIf="f.celular.errors">
                                <div *ngIf="f.celular.errors.required">
                                    <small>*Nro de
                                        celular requerido</small>
                                </div>
                                <div *ngIf="f.celular.errors.pattern ">
                                    <small>*Ingrese un número válido</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 2vh;">
                        <label for="staticEmail" class="col-sm-12 col-form-label">Correo electronico:</label>
                        <div class="form-group col-sm-10">
                            <input class="form-control form-control-sm" type="text" formControlName="correoelectronico">
                        </div>
                        <div class="err" *ngIf="f.correoelectronico.errors">
                            <div *ngIf="f.correoelectronico.errors.required">
                                <small>*Correo electronico requerido</small>
                            </div>
                            <div *ngIf="f.correoelectronico.errors.email">
                                <small>*Ingrese un correo válido</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="form-group" style="margin-top: 2vh;">
                        <label for="staticEmail" class="col-sm-12 col-form-label">Teléfono:</label>
                        <div class="form-group col-sm-12">
                            <input class="form-control form-control-sm" type="number" formControlName="telefono">
                        </div>
                        <div class="err" *ngIf="f.telefono.errors">
                            <div *ngIf="f.telefono.errors.pattern">
                                <small>*Ingrese un número válido</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 2vh;">
                        <label for="staticEmail" class="col-sm-12 col-form-label">Otra forma contacto:</label>
                        <div class="form-group col-sm-12">
                            <input class="form-control form-control-sm" type="number"
                                formControlName="otraformacontacto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 3vh;">
            <div class="col-sm-5"></div>
            <div class="col-sm-5"></div>
            <div class="row col-sm-2">
                <div class="col-sm-5"></div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" style="color: black;" (click)="ConfirmarSalon()"
                        [disabled]="!formSalon.valid"> GUARDAR</button>
                </div>
            </div>
        </div>
    </div>
</form>