#primero{
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
}
.btn{
    background-color:black;
    border-color:black;
    text-decoration-color: black;
}
.carousel .carousel-item {
    height: 350px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 350px;
}
.err{
    color: #ffaa00;
}