<div>
    <form class="register-form m-4" [formGroup]="formSalon">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" id="primero">
                    <label style="color: #000000;" > <b> REGISTRO DE NUEVO PRODUCTO </b></label>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row" >
                <div class="col-sm-4" style="margin-top: 2vh;">
                    <label style="color: #000000;"> <b>DATOS DEL PRODUCTO</b></label>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" >
                        <div class="form-group" style="margin-top: 2vh;">
                            <label for="staticEmail" class="col-sm-12 col-form-label">Nombre:</label>
                            <div class="form-group col-sm-10">
                                <input class="form-control form-control-sm" type="text" formControlName="nombrelocal"
                                onkeydown="return /[a-z, ]/i.test(event.key)">
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-12 col-form-label">Precio:</label>
                            <div class="form-group col-sm-6">
                                <input min="0" oninput="validity.valid||(value='');" class="form-control form-control-sm" type="number" formControlName="preciopordia">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-top: 2vh;">
                            <label for="staticEmail" class="col-sm-12 col-form-label">Descripción:</label>
                            <div class="form-group col-sm-10">
                                <textarea class="form-control"  type="text" id="exampleFormControlTextarea1" rows="4" formControlName="descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-12 col-form-label">Fotos del producto</label>
                            <div class="form-group col-sm-10">
                                <input type="file" class="form-control" formControlName="adjuntarfotos" id="exampleFormControlFile1" multiple>
                            </div>
                        </div>
                    </div>
                                
                </div>
            </div>
        </div>
    </form>
</div>
