<div class="mt-4 mx-3 ">
  <div class="row">
    <div class="col-md-3 p-4 ">
      <div
        id="carousel1"
        class="carousel slide my-custom-class"
        data-bs-ride="carousel"
      >
        <a (click)="onIconClick()" class="cursor-pointer">
            <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
        </a>

        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carousel1"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel1"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel1"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner custom-img">
          <div class="carousel-item active">
            <img
              src="\assets\images\mondongo.png"
              class="d-block custom-img w-100 h-40"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="\assets\images\mondongo.png"
              class="d-block custom-img w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="\assets\images\mondongo.png"
              class="d-block custom-img w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel1"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel1"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row mt-1">
        <div class="col-md-10">
          <div>
            <p class="title-style"><b>MONDONGO DE LA ABUELA</b></p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="d-inline-flex">
            <i-feather name="star" class="star-size fill-black"></i-feather>
            <p class="star-number">3.5</p>
          </div>
        </div>
      </div>
      <div>
        <p align="justify">
          Deliciosa sopa que alberga mucha tradición, su preparaión comienza una la noche anterior. Consiste en carne de vaca, 
          maíz pelado, mondongo y carne de carnero, todo servido con ají panca molido y yerbabuena.
        </p>
      </div>
      <div class="m-2">
        <i-feather name="book"></i-feather>Menú Tradicional
      </div>
      <div class="p-2">
        <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 28.00
      </div>
      <!-- <div class="row">

          <div class="col-md-3">
              <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> 2000
            </div>
            <div class="col-md-3">
                <i-feather name="phone"></i-feather>
            </div>
            <div class="col-md-4">
                <img src="assets/images/icons8-whatsapp.svg" alt="Price" width="40" height="40" class />
            </div>
        </div> -->
    </div>
    <div class="col-md-3 p-4">
        <div
          id="carousel2"
          class="carousel slide my-custom-class"
          data-bs-ride="carousel"
        >
          <a (click)="onIconClick()" class="cursor-pointer">
              <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
          </a>
  
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carousel2"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel2"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel2"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner custom-img">
            <div class="carousel-item active">
              <img
                src="\assets\images\puca.png"
                class="d-block custom-img w-100 h-40"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\puca.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\puca.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel2"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel2"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row mt-1">
          <div class="col-md-10">
            <div>
              <p class="title-style"><b>PUCA PICANTE</b></p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-inline-flex">
              <i-feather name="star" class="star-size fill-black"></i-feather>
              <p class="star-number">3.5</p>
            </div>
          </div>
        </div>
        <div>
          <p align="justify">
            Plato ayacuchano, típico de la región; hecho con papas bañadas en la tradicional salsa roja 
            de ají colorado, acompañado de una pieza de chicharrón, arroz blanco y ensalada de zanahoria, betarraga y cebolla.
          </p>
        </div>
        <div class="m-2">
          <i-feather name="book"></i-feather>Menú Tradicional
        </div>
        <div class="p-2">
          <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 25.00
        </div>
        
      </div>
      <div class="col-md-3 p-4">
        <div
          id="carousel3"
          class="carousel slide my-custom-class"
          data-bs-ride="carousel"
        >
          <a (click)="onIconClick()" class="cursor-pointer">
              <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
          </a>
  
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carousel3"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel3"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel3"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner custom-img">
            <div class="carousel-item active">
              <img
                src="\assets\images\chorizo2.png"
                class="d-block custom-img w-100 h-40"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\chorizo2.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\chorizo2.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel3"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel3"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row mt-1">
          <div class="col-md-10">
            <div>
              <p class="title-style"><b>CHORIZO</b></p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-inline-flex">
              <i-feather name="star" class="star-size fill-black"></i-feather>
              <p class="star-number">3.5</p>
            </div>
          </div>
        </div>
        <div>
          <p align="justify">
            Hecho en base a la carne molida de chancho que se presenta frita y suelto acompañado 
            de papa blanca sancochada y se sirve con ensalada de lechuga, betarraga, zanahoria y cebolla.
          </p>
        </div>
        <div class="m-2">
          <i-feather name="book"></i-feather>Menú Tradicional
        </div>
        <div class="p-2">
          <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 25.00
        </div>
        
      </div>
      <div class="col-md-3 p-4">
        <div
          id="carousel4"
          class="carousel slide my-custom-class"
          data-bs-ride="carousel"
        >
          <a (click)="onIconClick()" class="cursor-pointer">
              <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
          </a>
  
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carousel4"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel4"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel4"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner custom-img">
            <div class="carousel-item active">
              <img
                src="\assets\images\carnita.png"
                class="d-block custom-img w-100 h-40"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\carnita.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\carnita.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel4"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel4"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row mt-1">
          <div class="col-md-10">
            <div>
              <p class="title-style"><b>PASTA AL PESTO C/ LOMO FINO</b></p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-inline-flex">
              <i-feather name="star" class="star-size fill-black"></i-feather>
              <p class="star-number">3.5</p>
            </div>
          </div>
        </div>
        <div>
          <p align="justify">
            Suave y jugoso bisteck de lomo fino cubierto de saltado de cebollas 
            al puro estilo de Jora, acompañado de arroz blanco y crocantes papas fritas.
          </p>
        </div>
        <div class="m-2">
          <i-feather name="book"></i-feather>Menú Mediterráneo
        </div>
        <div class="p-2">
          <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 30.00
        </div>
        
      </div>
  </div>

  <div class="row">
    <div class="col-md-3 p-4 ">
      <div
        id="carousel5"
        class="carousel slide my-custom-class"
        data-bs-ride="carousel"
      >
        <a (click)="onIconClick()" class="cursor-pointer">
            <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
        </a>

        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carousel5"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel5"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel5"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner custom-img">
          <div class="carousel-item active">
            <img
              src="\assets\images\alitas.png"
              class="d-block custom-img w-100 h-40"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="\assets\images\alitas.png"
              class="d-block custom-img w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="\assets\images\alitas.png"
              class="d-block custom-img w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel5"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel5"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row mt-1">
        <div class="col-md-10">
          <div>
            <p class="title-style"><b>ALITAS A LA BBQ</b></p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="d-inline-flex">
            <i-feather name="star" class="star-size fill-black"></i-feather>
            <p class="star-number">3.5</p>
          </div>
        </div>
      </div>
      <div>
        <p align="justify">
          Alitas de pollo horneadas bañadas en salsa bbq casera. Listas para preparar 
          a cualquier hora del día. Ideal para compartir con amigos y familia.
        </p>
      </div>
      <div class="m-2">
        <i-feather name="book"></i-feather>Menú Mediterráneo
      </div>
      <div class="p-2">
        <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 18.00
      </div>
      <!-- <div class="row">

          <div class="col-md-3">
              <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> 2000
            </div>
            <div class="col-md-3">
                <i-feather name="phone"></i-feather>
            </div>
            <div class="col-md-4">
                <img src="assets/images/icons8-whatsapp.svg" alt="Price" width="40" height="40" class />
            </div>
        </div> -->
    </div>
    <div class="col-md-3 p-4">
        <div
          id="carousel6"
          class="carousel slide my-custom-class"
          data-bs-ride="carousel"
        >
          <a (click)="onIconClick()" class="cursor-pointer">
              <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
          </a>
  
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carousel6"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel6"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel6"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner custom-img">
            <div class="carousel-item active">
              <img
                src="\assets\images\cangreburguer.png"
                class="d-block custom-img w-100 h-40"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\cangreburguer.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\cangreburguer.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel6"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel6"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row mt-1">
          <div class="col-md-10">
            <div>
              <p class="title-style"><b>HAMBURGUESA JORA</b></p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-inline-flex">
              <i-feather name="star" class="star-size fill-black"></i-feather>
              <p class="star-number">3.5</p>
            </div>
          </div>
        </div>
        <div>
          <p align="justify">
            Hamburguesa 100% de ternera con cheddar fundido, lechuga, tomate, y acompañado de papas fritas.
          </p>
        </div>
        <div class="m-2">
          <i-feather name="book"></i-feather>Menú Mediterráneo
        </div>
        <div class="p-2">
          <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 30.00
        </div>
        
      </div>
      <div class="col-md-3 p-4">
        <div
          id="carousel7"
          class="carousel slide my-custom-class"
          data-bs-ride="carousel"
        >
          <a (click)="onIconClick()" class="cursor-pointer">
              <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
          </a>
  
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carousel7"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel7"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel7"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner custom-img">
            <div class="carousel-item active">
              <img
                src="\assets\images\hornito.png"
                class="d-block custom-img w-100 h-40"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\hornito.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\hornito.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel7"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel7"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row mt-1">
          <div class="col-md-10">
            <div>
              <p class="title-style"><b>CUATRO</b></p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-inline-flex">
              <i-feather name="star" class="star-size fill-black"></i-feather>
              <p class="star-number">3.5</p>
            </div>
          </div>
        </div>
        <div>
          <p align="justify">
            El chilcano Jora es un coctel tradicional peruano que se prepara sobre 
            la base de pisco, maracuya, huacatay, albaca, y hierba buena, jarabe de 
            kión y  ginger.
          </p>
        </div>
        <div class="m-2">
          <i-feather name="book"></i-feather>Menú Mediterráneo
        </div>
        <div class="p-2">
          <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 20.00
        </div>
        
      </div>
      <div class="col-md-3 p-4">
        <div
          id="carousel8"
          class="carousel slide my-custom-class"
          data-bs-ride="carousel"
        >
          <a (click)="onIconClick()" class="cursor-pointer">
              <i-feather name="heart" class="heart-overlay heart-fill "></i-feather>
          </a>
  
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carousel8"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel8"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carousel8"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner custom-img">
            <div class="carousel-item active">
              <img
                src="\assets\images\chilcano.png"
                class="d-block custom-img w-100 h-40"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\chilcano.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="\assets\images\chilcano.png"
                class="d-block custom-img w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel8"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel8"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row mt-1">
          <div class="col-md-10">
            <div>
              <p class="title-style"><b>CHILCANO JORA</b></p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-inline-flex">
              <i-feather name="star" class="star-size fill-black"></i-feather>
              <p class="star-number">3.5</p>
            </div>
          </div>
        </div>
        <div>
          <p align="justify">
            El chilcano Jora es un coctel tradicional peruano que se prepara sobre 
            la base de pisco, maracuya, huacatay, albaca, y hierba buena, jarabe de 
            kión y  ginger.
          </p>
        </div>
        <div class="m-2">
          <i-feather name="book"></i-feather>Tragos
        </div>
        <div class="p-2">
          <img src="assets/images/sack-dollar-solid.svg" alt="Price" width="20" height="20" /> S/. 20.00
        </div>
        
      </div>
  </div>

  
</div>
